<header>
    <nav class="navbar d-flex navbar-light bg-secondary p-4 text-white">
    <ul class="nav justify-content-start">
        <li class="nav-item">
            <a class="btn btn-light text-black" href="/">Home</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item mx-3">
            <a class="btn btn-light text-black" href="/author">Author page</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light text-black" href="/author/add-post">Create a new post</a>
        </li>

<!--         <li class="nav-item mt-3">
            <a class="text-white" href="/admin/">Products</a>
        </li> -->
     
    </ul>
</nav>
</header>